.bioCard {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: center;
  justify-content: space-evenly;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__heading {
    font-size: 3rem;
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;
    color: rgba(black, 0.5);
  }
}
