.bioCard {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  align-items: center;
  justify-content: space-evenly;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__heading {
    font-size: 3rem;

    @include respond-min($experts__bp1) {
      margin: 1rem 0;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;

    @include respond-min($experts__bp1) {
      margin: 1rem 0 2.5rem 0;
    }
  }
}
