.btn {
  display: block;
  background-color: $primary-color;
  border: none;
  color: $white;
  padding: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.7s;
  font-size: 1.5rem;

  &:hover {
    background-color: $primary-color-dark;
  }

  &--large {
    width: 100%;
    max-width: 70rem;
  }
}
