.diagram {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2rem;
  // border: 1px solid pink;
  // height: 100%;
}

.outer-circle {
  position: relative;
  width: 20rem;
  height: 20rem;
  border: 3px solid $primary-color;
  background: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__connector::after {
    content: "";
    display: block;
    width: 2px;
    height: 10rem;
    position: absolute;
    top: 101%;
    background-color: $primary-color;
  }
}

.inner-circle {
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 50%;
  background: $primary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.8rem;
    margin: 0;
  }

  h2 {
    font-size: 7rem;
    margin: 0;
  }
}

.module {
  font-size: 1.4rem;
}
