.icon {
  border-radius: 100%;
  background-color: $primary-color;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  &--small {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &--large {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }
}

.top {
  position: absolute;
  top: -$icon-size-lg / 2;
  left: calc(50% - #{$icon-size-lg / 2});
}
