.largeTextPanel {
  border: 2rem solid rgba($grey-medium, 0.7);
  padding: 1rem 3rem 4rem 3rem;
  margin: 3rem 0;
  max-width: 90rem;

  display: flex;
  flex-direction: column;

  &--heading {
    text-align: center;
    font-size: 3rem;
  }

  &--text {
    max-width: 70rem;
    margin: 0;
  }
}
