.navbar {
  height: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
    margin-right: 3rem;

    &__link {
      display: inline-block;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    margin: 0;
    background-color: $nav-background-color;

    li:not(:last-child) {
      margin-right: 1rem;
      font-size: 1.2rem;
    }
  }

  &__listItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $nav-background-color;

    &:hover {
      background-color: rgba($secondary-color-light, 0.4);
    }

    a {
      padding: 0 0.5rem;
    }

    .fa-chevron-down {
      color: rgba($white, 0.5);
    }

    &--comments {
      .fa-comments {
        margin-right: 1rem;
        font-size: 1.8rem;
      }

      span {
        @include respond-min($navbar__bp1) {
          display: none;
        }
      }
    }

    &--search {
      .fa-search {
        font-size: 1.8rem;
        margin: 0 2rem;
      }
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
    }

    span {
      margin-right: 1rem;
    }
  }

  &__collapse {
    @include respond-min($navbar__bp1) {
      display: none;
    }
  }

  &__hamburger {
    @include respond-max($navbar__bp1) {
      display: none;
    }
  }
}

.hamburger__container {
  position: relative;
  height: 6rem;
  width: 4rem;
  border: none;
  background: transparent;
  outline: none;
  margin-left: 2rem;
}

.hamburger {
  width: 4rem;
  height: 0.4rem;
  background-color: $white;
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 0;
  cursor: pointer;

  &::before {
    content: " ";
    display: block;
    position: relative;
    top: -200%;
    width: 4rem;
    height: 0.4rem;
    background-color: $white;
    border-radius: 3px;
    left: 0;
    cursor: pointer;
  }
  &::after {
    content: " ";
    display: block;
    position: relative;
    top: 100%;
    width: 4rem;
    height: 0.4rem;
    background-color: $white;
    border-radius: 3px;
    left: 0;
    cursor: pointer;
  }
  // @include respond-min($navbar__bp1) {
  //   display: inline-block;
  // }
}
