.navbar {
  height: 100%;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
    margin-right: 3rem;

    &__link {
      display: inline-block;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: $nav-background-color;
    color: white;
    margin: 0;

    li:not(:last-child) {
      margin-right: 1rem;
      font-size: 1.2rem;
    }
  }

  &__listItem {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba($secondary-color, 0.8);
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
    }

    span {
      margin-right: 1rem;
    }
  }
}
