.vPanel {
  grid-column: span 3;
  align-items: center;
  width: 40rem;
  height: 35rem;
  justify-self: center;

  display: flex;
  flex-direction: column;

  &--title {
    color: white;
    background: black;
    padding: 1rem 1.5rem;
    width: 100%;
  }

  &--textbox {
    padding: 1rem;
    width: 100%;
    background: $white;
  }
}
