.experts {
  grid-area: experts;

  align-self: start;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__heading {
    font-size: 3rem;
    margin: 5rem 0;
  }

  &__content {
    display: flex;
  }
}
