.footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $secondary-color;
  color: $white;
  padding: 2rem;

  &__heading {
    @include respond-min($footer__bp1) {
      text-align: center;
    }
  }

  &__links {
    border-bottom: 1px solid $grey-dark;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;

    display: flex;

    @include respond-min($footer__bp1) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &--internal {
      display: flex;
      margin-right: auto;

      @include respond-min($footer__bp1) {
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;
        text-align: center;
      }
    }

    &--social {
      display: flex;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      top: calc(50% - 2.5px);
      right: -1.5rem;
      color: $primary-color;
      background-color: $primary-color;
      pointer-events: none;
    }

    svg {
      font-size: 1.8rem;
      background-color: transparent;
      fill: transparent;
    }
  }

  &__privacy {
    display: inline-block;
  }
}
