.form {
  background-image: url("../images/water.jpg");
  // filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &--box {
    width: 85%;
    height: 85%;
    background-color: rgba($white, 0.6);
  }
}
