.form {
  background-image: url("../images/water.jpg");
  // filter: blur(2px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  &--box {
    max-width: 70rem;
    width: 85%;
    height: 85%;
    background-color: rgba($white, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      font-size: 5rem;
    }
  }
}
