.goals {
  grid-area: goals;
  justify-self: center;
  background: $grey-light;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  align-items: center;

  .icon {
    justify-self: center;
    grid-column: 1 / -1;
  }

  &--title {
    justify-self: center;
    grid-column: 1 / -1;
    font-size: 3rem;
  }

  &--text {
    justify-self: center;
    grid-column: 4 / 10;
    font-size: 1.4rem;
    margin-bottom: 7rem;
  }
}
