.container {
  display: grid;
  grid-template-rows:
    10rem calc(100vh - 10rem) minmax(100vh, auto) minmax(100vh, auto)
    auto auto minmax(100vh, auto) 100vh minmax(20rem, auto);
  grid-template-areas:
    "header"
    "hero"
    "welcome"
    "goals"
    "outline"
    "completion"
    "experts"
    "form"
    "footer";
}
