.outline {
  position: relative; // for the icon at the top
  color: $white;

  grid-area: outline;

  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 1px solid blue;
  background-color: $secondary-color-light;

  &__heading {
    align-self: end;
  }

  &__content {
    position: relative;
    height: 90rem;

    &Box {
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-min($outline__bp1) {
        width: 70%;
      }

      @include respond-min($outline__bp2) {
        width: 95%;
      }

      &--1 {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--2 {
        position: absolute;
        top: 40rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--3 {
        position: absolute;
        top: 70rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
