.outline {
  position: relative; // for the icon at the top

  grid-area: outline;

  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 1px solid blue;
  background-color: $secondary-color-light;

  &--heading {
    align-self: end;
  }
}
