.welcome {
  grid-area: welcome;

  display: grid;
  grid-template-rows: 2fr 8fr;

  &__icons {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid $grey-dark;
    box-shadow: 0px 2px 7px -4px rgba(0, 0, 0, 0.75);
  }

  &__iconContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    max-width: 100rem;
  }

  &__main {
    justify-self: center;
    width: 85%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;

    @include respond-min(714px) {
      width: 100%;
    }
  }

  &__heading {
    font-size: 3rem;
    width: 50%;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }

  &__text {
    justify-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 120rem;

    @include respond-min($welcome__bp1) {
      width: 90%;
    }

    @include respond-min($welcome__bp2) {
      flex-direction: column;
    }

    &Left {
      height: 100%;
      max-width: 35rem;
      min-width: 28rem;
      margin-right: 7rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @include respond-min($welcome__bp1) {
        margin-right: 2rem;
      }

      @include respond-min($welcome__bp2) {
        margin-right: 0;
      }
    }

    &Right {
      height: 100%;
      max-width: 35rem;
      min-width: 28rem;
    }

    &--top {
    }

    &--bottom {
      flex-grow: 1;
    }

    p {
      display: inline-block;
      width: 100%;
      margin-top: 0;
      font-size: 1.4rem;
    }
  }
}
