.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.heading {
  font-weight: 600;
  color: $secondary-color;
}

.heading--lg {
  font-size: 3rem;
}

.heading--md {
  font-size: 1.8rem;
}

.white {
  color: $white;
}

.text {
  font-weight: 400;
  font-size: 1.4rem;
  color: $text-color;
}
