@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond-min(900px) {
    font-size: 50%;
  }

  @include respond-max(1200px) {
    font-size: 56.25%;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
