$primary-color: #eb6a2c;
$primary-color-dark: #d05114;
$secondary-color: #1b365d;
$secondary-color-medium: #17457a;
$secondary-color-light: #006ba6;
$grey-light: #edeff5;
$grey-medium: #d3d8e6;
$grey-dark: #abb5d1;
$white: #fafbfc;

$nav-background-color: #1b365d;
$nav-height: 9rem;

$icon-size-lg: 10rem;
$icon-size-sm: 6rem;

$input-height: 6rem;
