// Colors

$primary-color: #eb6a2c;
$primary-color-dark: #d05114;
$secondary-color: #1b365d;
$secondary-color-medium: #17457a;
$secondary-color-light: #006ba6;
$grey-light: #edeff5;
$grey-medium: #d3d8e6;
$grey-dark: #abb5d1;
$white: #fafbfc;
$black: #282c32;
$text-color: #39414e;
$nav-background-color: #1b365d;

// Sizes
$nav-height: 9rem;

$icon-size-lg: 8rem;
$icon-size-sm: 6rem;

$input-height: 3rem;

// Breakpoints for each Section
$navbar__bp1: 1060px;

$welcome__bp1: 714px;
$welcome__bp2: 640px;

$goals__bp1: 860px;
$goals__bp2: 680px;

$outline__bp1: 760px;

$experts__bp1: 640px;

$footer__bp1: 1050px;
